/*STRUCTURE*/
body{
	font-family: 'Amatic SC';
	font-weight: 500;
	font-size: 24px;
background: linear-gradient(113deg, #a9c9d6, #d6a9cf, #d6a9a9, #edcc90, #a9d6cb);
background-size: 1000% 1000%;
-webkit-animation: AnimationName 30s ease infinite;
animation: AnimationName 45s ease infinite;
}


@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#container{
  padding: 1% 2%;
  margin: 0 auto;
/*  width:1200px;*/
}

#wrapperNav{
  padding:1%;
  height:;
}
/*fieldset{
  display:inline;
}*/

#mainNav{
  height:20px;
  margin-bottom:4%;
}

#workbook{
  padding:0% 1%;
  text-align:center;
/*  height: 350px;
 width:95%;
/*  border:#da4949 2px solid;
  border-radius:10px;*/
/*  margin-bottom:1%;*/
}




/*Formatting*/

div.cf:after {
  content: ' ';
  display: block;
  clear: both;
  overflow:auto;
}

/*mainNav*/
label, select {
  float:left;
  margin-right:2%;
}

.logo img{
  width:5%;
  height:5%;
  float:left;
  margin: 0% 2%;
}

select, option {
   background: transparent;
   display:inline;
   padding: 0px;
   margin:5px;
   font-size: 42px;
   font-family: 'Amatic SC';
   color: #da4949;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 44px;
   -webkit-appearance: none;
   }

.burger img {
  width:3%;
  height:3%;
  margin-top:1%;
  float:right;
   }

/*WORKBOOK AREA*/

#workbook div{
  display:inline-block;
  float:left;
  width:180px;
  height:180px;
  margin:5px;
  border:#da4949 1px solid;
  border-radius:5px;
}


#workbook img {
  max-width:100%;
  max-height:100%;
  border:none;
  margin: 0 auto;
  padding:10px;
}

div.mix {
  position: relative;
}

div.mix img {
  position: absolute;
  bottom: 0;
  left: 10px;
}


/*ADDITIONAL STYLES*/

label{
	font-size: 42px;
	padding-top: 1%;
}

h3{
	font-size: 36px;
}
